body{
    font-family: 'Kaisei Opti', serif;
}
#title{
    text-align: center;
    font-size: 35px;
}
.charmpoints{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
}
.footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;

}
.writer{
    display: flex;
    
}
.icon :hover{
    color:coral
}
.icon_name{
    text-align: center;
}
/* 
ここまでindexのcss
*/

/*
ここまで食のcss
*/

/*
ここまで観光のcss
*/

/*
ここまで林業のcss
*/

/*
ここまで有名人のcss
*/

/*
ここまで制作者のcss
*/